@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;

}

body {
   background:#091b29 ;
   color:aqua;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: aqua;
    color:#091b29;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.nav__link:hover {
    color: aqua;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index:1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    background: #091b29;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{
    top: 6px;
}

.logo {
    position: relative;
    font-size: 30px;
    color:aqua;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.home {
    height: 100vh;
    background: url('lebp.jpg') no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 0%;
}

.home-content{
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}

.home-content h3::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#091b29;
    border: 2px solid aqua;
    border-radius: 8px;
    font-size: 19px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #091b29;
}

.btn-box a:nth-child(2){
    color: aqua;
}

.btn-box a:nth-child(2):hover {
    color:#091b29;
}

.btn-box a:nth-child(2)::before {
    background: aqua;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: aqua;
    z-index:-1;
    transition: .5s; 
}

.btn-box a:hover::before {
    width: 100%;
    z-index: -1;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-content .btn-box::before {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #091b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background:#091b29;
    width: 60%;
    opacity: .8;
}



.home-imgHover::after {
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    width: 130%;
    height: 100%;
    background: #091b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.about-me {
    max-width: 100%;
    margin: 10px auto;
    letter-spacing: .1em;
}

@media (min-width: 800px){
    .section__title--about {
        grid-area: title;
        padding: 10px;
        }
} 

.about-me__body {
    background: url("tb.jpg");
    padding-bottom: 20px;
    padding-top: 10px;
    }

    .my-services {
        max-width: 100%;
        margin: 10px auto;
        letter-spacing: .1em;
        color: aliceblue;
    }
    
    @media (min-width: 800px){
        .section__title--services {
            grid-area: title;
            padding: 10px;
            }
    } 
    
    .services {
        display: flex;
        padding-bottom: 20px;
        padding-top: 10px;
        background: white;
        color: #091b29;
        }

    .my-services__img{
        display: flex;
        max-height: 250px;
        max-width: 250px;
    }

.html {
    scroll-behavior: smooth;
}

/*Keyframes animation*/
@keyframes showRight{
    100% {
        width:0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

